apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-example
  labels:
    app: spring-boot-example
spec:
  replicas: 3
  selector:
    matchLabels:
      app: spring-boot-example
  template:
    metadata:
      labels:
        app: spring-boot-example
    spec:
      containers:
      - name: spring-boot-example
        image: gcr.io/YOUR_PROJECT/spring-boot-example:0.1.0
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        env:
        - name: OUR_ENV
          valueFrom:
            configMapKeyRef:
              name: spring-config
              key: our.env
