apiVersion: apps/v1
kind: Deployment
metadata:
  name: greeter
  labels:
    app: greeter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: greeter
  template:
    metadata:
      labels:
        app: greeter
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
      - name: greeter
        image: gcr.io/PROJECT/greeter:latest
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        env:
        - name: OUR_ENV
          valueFrom:
            configMapKeyRef:
              name: spring-config
              key: our.env
